{% extends 'base.html' %}
{% load my_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header text-center">
        {{ title }}
    </div>
    <div class="card-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="mt-3 mb-5">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% if form.instance.pk %}{% url 'catalog:product_detail' form.instance.pk %}{% else %}{% url 'catalog:products_list' %}{% endif %}" class="btn btn-warning">Отмена</a>
        </div>
    </form>
</div>
{% endblock content %}
